# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**  
- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Present Data Science tools in a table  
- Perform arithmetic operations in Python

Some of the popular languages that Data Scientists use are:
- Python  
- R  
- SQL  
- Julia  
- Scala

Some of the commonly used libraries used by Data Scientists include:
- Pandas  
- NumPy  
- Matplotlib  
- Scikit-learn  
- TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio          |
| Apache Zeppelin  |

### Below are a few examples of evaluating arithmetic expressions in Python.
- **Addition:** `2 + 3 = 5`  
- **Subtraction:** `10 - 4 = 6`  
- **Multiplication:** `3 * 3 = 9`  
- **Division:** `12 / 3 = 4.0`

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author  
Fernando Alberto Valenzuela Mardones